
FlutterApp/.dart_tool/package_config.json
**/.idea/
PythonApp/nema-nbiot-controller-firebase-adminsdk-aebc8-4148185772.json

PythonApp/nema-nbiot-controller-firebase.json

PythonApp/nema-nbiot-controller-firebase
